@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #3c3836;
  --bg-color-nav: #665c54;
  --bg-color-active: #c0c433;
  --bg-color-disabled: #ed503d;
  --bg-color-foot: #665c54;
  --bg-color-icon: #fbf1c7;
  --text-primary: #fbf1c7;
  --text-secondary: #d1c1a3;
  --text-selection: #4ea6ac;
  --text-highlight: #c0c433;
  --text-highlight1: #ecb22c;
  --text-highlight2: #8ec07c;
  --border-color: #ebdbb2;
  --margin-bottom: 0.8rem;
  --content-width: 140px;
  --outline-valid: #8ec07c;
  --outline-invalid: #ed503d;
}

* {
  box-sizing: border-box;
  color: var(--text-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.025rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

body {
  min-width: 400px;
}

*::selection {
  color: var(--bg-color);
  background-color: var(--text-selection);
}

/*-- Navbar cursor blinking animation --*/
.blinking {
  position: relative;
  bottom: 6px;
  left: 2px;
  padding: 0 1px;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: initial;
  }
}


/*-- Navbar content revealing animation --*/
.revealing {
  animation-name: reveal;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  transition-property: all;
}
@keyframes reveal {
  0% {
    width: 0;
  }
  15% {
    width: var(--content-width);
  }
  90% {
    width: var(--content-width);
  }
  100% {
    width: 0;
  }
}


/*-- Loading page animation --*/
.loading-animation {
  animation-name: loading;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

@keyframes loading {
  0% {
    opacity: 0;
    scale: 0.95;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}


/*-- Animation for the custom detail component --*/
.hero-close {
  transform: rotate(0);
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

.content-close {
  max-height: 0;
  padding-bottom: 0;
}


