.time {
    font-size: 1rem;
   padding-bottom: 0.8rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .description {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  @media only screen and (min-width: 640px) {
    .exp {
      display: flex;
      justify-content: space-between;

      .time{
        max-width: 30%;
      }
      .details {
        max-width: 65%;
      }
    }

  }
