@media only screen and (min-width: 1024px) {
  .home {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
  }

  .main-container {
    flex: 3;
  }

  .self-container {
    flex: 2;
    position: relative;
    padding-bottom: 0;
    height: 90vh;
  }
}
