@media only screen and (min-width: 1024px) {
  .home {
    position: relative;
    max-width: 1204px;
    margin: 0 auto;
  }

  .main-container {
    width: 60%;
    margin-left: 40vw;
    padding-top: 2rem;

  }

  .self-container {
    padding-top: 9.3rem;
    position: fixed;
    top: 0;

    width: 40%;
  }
}
