.main {
  header {
    position: sticky;
    top: 92px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    backdrop-filter: blur(0.8rem);

    z-index: 700;
  }

  section {
    padding-bottom: 5rem;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  .about {
    p {
      padding-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    section {
      padding-bottom: 2.5rem;

      #feedback_header {
        top: 88px;
        visibility: visible;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
    }

    header {
      visibility: hidden;
      top: 89px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    section:last-of-type {
      padding-bottom: 3rem;
    }
  }
}
