.navbar-container {
  --navbar-padding: 1.8rem;
  --navbar-border: 0.25rem;
  // sticky has to be used with a specific offset.
  position: sticky;
  top: 0;
  z-index: 999;

  background-color: var(--bg-color-nav);
  }

.navbar {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  .site-title {
    padding: 1.2rem 2rem;
  }

  .non-mobile {
    display: none;
  }
}

.blinking {
  position: relative;
  bottom: 6px;
  left: 2px;
  padding: 0 1px;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: initial;
  }
}

.revealing {
  animation-name: reveal;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  transition-property: all;
}
@keyframes reveal {
  0% {
    width: 0;
  }
  15%{
    width: var(--content-width);
  }
  90% {

    width: var(--content-width);
  }
  100% {
    width: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-container {
    padding: 0 2rem;
  }
  .navbar {
    display: flex;

    .non-mobile {
      display: initial;
    }

    .site-title {
      align-self: center;
      margin-bottom: 0;
      margin-right: auto;
      padding: 0 2rem;
      width: 30rem;
      overflow-x: visible;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    .mobile {
      display: none;
    }
  }
}
