.navbar-container {
  --navbar-padding: 1.8rem;
  --navbar-border: 0.25rem;
  // sticky has to be used with a specific offset.
  position: sticky;
  top: 0;
  z-index: 999;

  background-color: var(--bg-color-nav);
}

.active {
  border-bottom: var(--navbar-border) solid var(--bg-color-active);
  font-weight: 600;
}

.navbar {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;

  .site-title {
    font-size: 2rem;

    padding: 1.2rem 2rem;
  }

  .open-button {
    position: absolute;
    font-size: 1.2rem;
    right: 1rem;
    top: 1.9rem;
  }
  .close-button {
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1.8rem;
  }

  .links {
    .link {
      margin: 0 0.7rem;
      padding: var(--navbar-padding) 1rem;
      padding-bottom: calc(var(--navbar-padding) - var(--navbar-border));

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .non-mobile {
    display: none;
  }
}

.animated {
  position: relative;
  bottom: 6px;
  left: 2px;
  padding: 0 2px;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: initial;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-container {
    padding: 0 2rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;

    .non-mobile {
      display: initial;
    }

    .site-title {
      align-self: center;
      margin-bottom: 0;
      padding: 0;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    .mobile {
      display: none;
    }
  }
}
