.self {
  
  
  .info {
    padding: 1rem 0;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;

    padding: 1rem 0;
  }
}


@media only screen and (min-width: 1024px) {
  .self {
    max-width: 600px;
    height: 85vh;
    position: relative;
    top: 1.7rem;
  }
}
